body {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  color: white;
  -webkit-font-smoothing: antialiased;
  background: -webkit-linear-gradient(bottom right,#222654 20%, #1e1635 60%, #0c0010 85%, #000);
  background: linear-gradient(to top left,#222654 20%, #1e1635 60%, #0c0010 85%, #000);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 0.3rem;
}

header {
  text-align: center;
  padding: 4rem 0;
}

header h1 {
  font-size: 1.5rem;
}

footer {
  padding: 4rem 0;
}

main {
  min-height: 600px;
}

h1.title {
  text-align: center;
  margin: 0;
  font-size: 4rem;
}

img {
  max-width: 100%;
}

summary {
  text-align: center;
  font-size: 0.8rem;
  background: rgba(255,255,255,0.05);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.3rem;
}

article {
  padding: 5rem 0 0;
}

article h1 {
  margin: 5rem 0 2.5rem;
  font-size: 2rem;
}

article p {
  margin: 0rem 0 2rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

article blockquote {
  border-left: 5px solid rgba(255,255,255,0.2);
  padding-left: 1rem;
  margin: 3rem;
}

article blockquote p {
  font-size: 2rem;
}

article ul li {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.3rem;
}

article img {
  width: 100%;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  margin: 2rem 0;
  border-radius: 0.3rem;
}

pre code {
  border-radius: 0.3rem;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

h1 a, nav a, footer a {
  color: white;
  text-decoration: none;
}

ul a {
  color: #ddd;
  text-decoration: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
